In [1]:
# Importing the libraries
import numpy as np
import pandas as pd

In [3]:
# Importing the data.
mobile_data= pd.read_excel(r"F:\AnalyticslabFIles\Projects\sql\SQL - Mobile manufacturer data analysis\mobile_manufacturer_dateset.xlsx")

In [4]:
# Metadeta inspection
mobile_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IDCustomer     50 non-null     int64
 1   Customer_Name  50 non-null     object
 2   Email          50 non-null     object
 3   Phone          50 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.7+ KB

In [5]:
mobile_data.head()

   IDCustomer      Customer_Name                      Email       Phone
0       10001   Kallie Blackwood   kallie.blackwood@abc.com  4159170276
1       10002  Johnetta Abdallah  johnetta_abdallah@abc.com  9196014934
2       10003        Bobbye Rhym              brhym@abc.com  6505905578
3       10004     Micaela Rhymes     micaela_rhymes@abc.com  9251192329
4       10005     Tamar Hoogland              tamar@abc.com  7401061857

In [ ]:
# Performing EDA

In [6]:
mobile_data.isna().sum()

IDCustomer       0
Customer_Name    0
Email            0
Phone            0
dtype: int64

In [9]:
mobile_data.duplicated().sum()

0